#carousel-info {
    display: flex;
    justify-content: space-between;
}

#carousel-info > div:last-child {
    min-width: 100px;
    display: flex;
}

#carousel-info > div > img {
    width: 100px;
    height: 38px;
    margin-left: var(--spacing-2);
    cursor: pointer;
}

#video {
    float: right;
    max-width: 100%;
    padding-left: var(--spacing-3);
    margin-bottom: var(--spacing-3);
    width: 480px;
    border-bottom: 1px solid;
}

#video > video {
    padding-bottom: var(--spacing-1);
    width: 100%;
}

#video > p {
    padding-bottom: var(--spacing-3);
}
