body {
    background: var(--muted-color);
}

h3 {
    padding-top: var(--spacing-4);
}

#main-section {
    display: flex;
    justify-content: space-between;
}

#left-column, #right-column {
    height: 0%;
    width: 48.125%
}

#load-more {
    display: block;
    background: none;
    border: 1px solid;
    font-weight: var(--bold);
    padding: var(--spacing-2) var(--spacing-4);
    margin: 0 auto;
    cursor: pointer;
}

.tile {
    width: 100%;
    break-inside: avoid;
    padding-bottom: var(--spacing-6);
}

.tile-inner {
    background: var(--light-color);
    padding: var(--spacing-4);
    border: 1px solid;
}

.tile-no-image {
    display: none;
    width: var(--spacing-8);
    height: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    background-color: var(--primary-color);
}

.tile-img-container {
    position: relative;
    height: 0;
    padding-bottom: 37.5%;
}

.tile-img-container > img {
    position: absolute;
}

.tile-img-container > img[src=''] {
    display: none;
}

.tile-img-container.hide + .tile-no-image {
    display: block;
}

.content, .meta {
    padding-bottom: 0;
}

.meta {
    padding-top: var(--spacing-4);
    font-weight: normal;
}
