section > h3 {
    border-bottom: var(--spacing-2) solid;
    margin-bottom: var(--spacing-7);
}

h3.primary {
    border-color: var(--primary-color);
}

h3.secondary {
    border-color: var(--secondary-color);
}

h3.tertiary {
    border-color: var(--tertiary-color);
}

.tiles {
    display: flex;
}

.tile {
    padding-bottom: var(--spacing-6);
    background: var(--light-color);
    padding-right: var(--spacing-7);
}

.tile:last-child {
    padding-right: 0;
}

.tile-img-container {
    position: relative;
    height: 0;
    padding-bottom: 37.5%;
}

.tile-img-container > img {
    position: absolute;
}

.content, .meta {
    padding-bottom: 0;
}

.meta {
    padding-top: var(--spacing-4);
    font-weight: normal;
}
